[Unit]
Description=Gunicorn Daemon for erasebg (Production)
After=network.target

[Service]
User=vikas
Group=www-data
Environment="DJANGO_ENV=production"
WorkingDirectory=/opt/erasebg/erasebg-backend/production
ExecStart=/opt/erasebg/erasebg-backend/production/.venv/bin/gunicorn \
          --access-logfile /var/log/gunicorn/erasebg-production-access.log \
          --error-logfile /var/log/gunicorn/erasebg-production-error.log \
          --workers 1 \
          --threads 2 \
          --timeout 60 \
          --bind unix:/opt/erasebg/erasebg-backend/production/gunicorn.sock \
          erasebg.wsgi:application

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
